* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body {
    width: 90%;
    font: 1em "Helvetica Neue", Helvetica, "trebuchet ms", Geneva, sans-serif;
    margin: 0 auto; 
	background-color: #062851;
    color: #E7E5E9;
}
h1 {
    font-size: 1.75em;
    font-weight: bold;
    font-family: monospace;
}
p {
    margin: .5em 0;
}

.content h1 {
    font-variant: small-caps;
    letter-spacing: 1px;
    margin: 0 0.75em 0 0.75em;
    padding-top: 2.25em;
}
.content p {
    text-indent: 1em;
    text-align: justify;
    margin: 1em .75em 0;
}
.content img {
    border: none;
}
.content a {
    text-decoration: none;
}
.content a:active {
    outline: none;
}
.content a:focus {
    outline: none;
}

noscript p {
    font-size: 1.2em !important;
    text-align: center !important;
}

noscript p a {
	color: #1C140D !important;
}

header {
    position: relative;
    margin: 0 auto;
	padding: 2em 0;
}
header .link{
    color: #E9E5E7;
    border-bottom: 1px solid #a3a6af;
}
header .link:hover {
    border: none;
}
header .slider-wrapper {
    margin: 0 auto;
    width: 628px;
    background: url(nivo_theme_default/loading.gif) no-repeat 50% 50%;
	display:none;
}
header #slider {
    height: 250px;
}

#menu {
    display: block;
    clear: both;
    width: 90%;
    min-width: 39em;
}
#menu.abs {
    position: absolute;
}
#menu.fixed {
    position: fixed;
    top: 0;
}

nav ul.lavaLamp {
    list-style-type: none;
    position: relative;
    height: 20px;
    padding: 4px 10px 12px;
    margin: 8px 0;
    overflow: hidden;
    border-radius : 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-border-radius: 10px;
	background: url("../img/menu_bg.png") repeat;
}
nav ul.lavaLamp li {
    list-style: none;
    float: left;
    margin-left: 15px;
    text-align: center;
}
nav ul.lavaLamp li.langs {
    float: right;
}
nav ul.lavaLamp li.back {
    background: url("../img/itembg.png") no-repeat right -30px;
    width: 9px;
    height: 26px;
    z-index: 8;
    position: absolute;
    margin: 2px 0;
    border-radius : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
nav ul.lavaLamp li.back .left {
    background: url("../img/itembg.png") no-repeat top left;
    height: 26px;
    margin-right: 9px;
    border-radius : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
nav ul.lavaLamp li:hover {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background: rgba(0,0,0,.20);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}
nav ul.lavaLamp li a {
    position: relative; overflow: hidden;
    float: left;
    display: block;
    outline: none;
    z-index: 10;
    height: 30px;
    top: 7px;
    margin: auto 10px;
    font: bold 14px monospace;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

#about ul.imagetxt {
    list-style-type: none;
    display: block;
}
#about ul.imagetxt li {
    display: block;
    clear: both;
}
#about ul.imagetxt li figure.image {
    float: left;
    height: 5em;
    width: 5em;
    border: 4px solid #E7E5E9;
    margin: .15em 1em;
}

figure#cookie {
    background: url("http://www.gravatar.com/avatar/38724afecdd465e2b8bb03e7a2d06176.jpg") no-repeat;
}
figure#uber {
    background: url("http://www.gravatar.com/avatar/ede194ad58e859be764905ea4f120bda.jpg") no-repeat;
}
figure#master {
    background: url("http://www.gravatar.com/avatar/cede7ff53d51bb1a9b76669ec62153cd.jpg") no-repeat;
}

#portofolio p {
    border: 1px solid #fafafa;
}

#contact label {
    font-style: italic;
    font-weight: bold;
}
#contact label, #contact input {
    font-size: 90%;
}
#contact input, #contact textarea {
    margin: .25em 0 0 1em;
    padding: .25em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#contact input#submit, #contact input#reset {
    margin: 0 1em 0 0;
    padding: .25em .5em;
}
#contact span.req {
    color: #e10c3e;
}

footer {
    padding: 1em 0;
	text-align:center;
}
