* {
   
}
body {
    background-color:#efefef;
	color: #1C140D;
}

.content h1 {
    text-shadow: #CBE86B 0.04em 0.04em 0.1em;
}

header {
	background:#CBE86B url("../img/header_vector.png") no-repeat bottom left;
	border-left:2px ridge #F2E9E1;
	border-right:2px ridge #F2E9E1;
	border-bottom:2px ridge #F2E9E1;
}
header .link{
    
}
header .link:hover {
    
}

nav ul.lavaLamp {
    border: 1px solid #CBE86B;
}

#about ul.imagetxt li figure.image {
    border: 4px ridge #CBE86B;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}

#portofolio p {
    border: 1px ridge #CBE86B;
}

#contact label {
    
}
#contact label, #contact input {
    
}
#contact input, #contact textarea {
    
}
#contact input#submit, #contact input#reset {
    
}
#contact span.req {
    
}

footer {
   
}
